[2022-05-27 09:18] checkbefirt commented on #247
![WhatsApp Image 2022-05-25 at 10 16 50 AM](https://user-images.githubusercontent.com/49900792/170670279-086fbe3c-b219-4c83-bca4-11662559ca9b.jpeg)

Actually when i watch the network i getting this error

[2022-05-27 09:41] pacroy9 commented on #253
Setting the environment variable TZ to UTC solved the problem, thank you!

[2022-05-27 09:42] #253 closed

[2022-05-27 12:40] pointjalta opened #254 "going in from the outside"
Hi fellow earthlings,

I am running planka in a docker container on Debian. Besides Planka I am also running other services in docker container, like home assistant for example. Planka works perfectly inside my home network. But when I am not connected to my home network I can login to my home assistant without any problems. When I try to do the same with Planka I get the Planka login screen just

[2022-05-28 21:52] checkbefirt commented on #247
any help ?

[2022-05-29 12:10] Toaaa opened #255 "Change of the Favicon and other customizations"
Hi, is there a way to change like the favicon on every Page or the Text on the Login Page?

Regards

[2022-06-01 11:41] nickbe commented on #192
Hi there. This would surely be a great addition to planka. Can you post a preliminary screenshot?

[2022-06-04 00:23] rlgo opened #257 "Line break not working in comment"
Write two line comment but still display as one line after save.
![Screenshot from 2022-06-04 08-10-20](https://user-images.githubusercontent.com/32289083/171968584-285d8936-6a9f-4762-8ae6-b4c7afe492f6.png)
![Screenshot from 2022-06-04 08-17-31](https://user-images.githubusercontent.com/32289083/171968871-422e4924-21a7-41d1-9475-94ed39d5587e.png)

But if add an empty line in between, it works
![Sc

[2022-06-04 07:34] ejo090 commented on #257
Since Planka uses Markdown for the description and comment fields of cards, it is possible to break lines according to Markdown notation.

Planka uses [remarkjs/react-markdown](https://github.com/remarkjs/react-markdown) as a renderer and [remarkjs/remark-gfm](https://github.com/remarkjs/remark-gfm) as a plugin.

The specification is available at [GitHub Flavored Markdown Spec](https://github.gith

[2022-06-04 09:01] ejo090 commented on #257
I applied [remarkjs/remark-breaks](https://github.com/remarkjs/remark-breaks), which probably fulfills what @rlgo wants.

![01](https://user-images.githubusercontent.com/3481374/171992147-583d8065-951b-464f-9b01-5c1cde94d529.png)
![02](https://user-images.githubusercontent.com/3481374/171992157-337d436c-005f-4ab0-a916-fed14aedb3c1.png)

(I forgot to mention that the language setting is Japanese. S

[2022-06-05 20:10] nickbe commented on #257
Thanks for the effort to explain all this. In fact I didn't realize the line break problem myself so far simply because I don't use comments as extensively as other users.

Please feel free to make a pull request on this.
@meltyshev Using a more convienent way for the line breaks is a very good idea.

[2022-06-06 03:36] kisekila commented on #60
looking forward to have "Forgot passwort" option will be reasonable.

[2022-06-06 12:37] #257 closed

[2022-06-07 17:07] lue30499 opened #259 "Enhancement for organising data: color?"
As the title suggests,,, It would be nice to have the ability to color code Lists and Cards. (Similar to Tags with its colors)
Some people are just more color oriented when trying to find something or color code the purpose.

[2022-06-08 16:45] wellesximenes opened #260 "Translate PT-BR"
Friend how should I proceed to help translate to Portuguese I really liked the project

[2022-06-08 21:14] juanpabloxk opened #261 "Use external postgres server (e.g. heroku) using SSL"
I'm trying to use an external postgresql provider (Heroku) which requires a SSL connection. I set the `DATABASE_URL` envvar with the url provided by heroku but I got the following error:

[code]

If I add a parameter to the postgres url like `ssl=true` or `sslmode=require` I got the following:

[code]

[2022-06-09 04:33] ejo090 commented on #260
Hi.
You may refer to [this](https://github.com/plankanban/planka/issues/66).

[2022-06-09 07:52] belf88 opened #262 "User permission - june 22"
hello everyone, any news for the user permissions policy? i really like Planka but i can't use it without a read only user policy

[2022-06-09 23:08] FluffyDiscord commented on #261
I have the same issue, but on my unraid machine, using postgress v14

planka and postgres are on the same docker network, ssl or not

[2022-06-13 01:05] ejo090 commented on #77
This problem appears to be fixed with the [v5.0.2](https://github.com/sindresorhus/filenamify/releases/tag/v5.0.2) release of filenamify.
Updating this package may make it work.

[2022-06-13 03:57] ejo090 commented on #77
Since [sindresorhus/filenamify](https://github.com/sindresorhus/filenamify) has been a Pure-ESM Package since [v5.0.0](https://github.com/sindresorhus/filenamify/releases/tag/v5.0.0), a simple update seems very difficult...

[2022-06-13 08:29] checkbefirt commented on #262
i guess developers mad busy to update

[2022-06-14 07:50] lp419665 commented on #29
Hello, my Planka juct became blank (black) page. When I query the database everything seems ok, I can see tasks. Do I need to check some tables? Planka is running on OpenShift.

[2022-06-14 21:10] SiM22 commented on #242
Why has there not been a code implementation to do an auto upgrade for those users still on an older version?

I tried all the sql related steps listed in other issues and I could not get it work, I gave up and returned to the original version I had. And if this is not implemented, I will genuinely start looking at exporting the DB and moving else where. The changes made were breaking changes and

[2022-06-14 21:21] Pheggas commented on #242
My words. They tell us how they're back and actively developing but in fact, nearly no progress was made and it looks more like stagnation. I seriously needed to start over because the old database didn't let me upgrade itself and when I switched back, it just didn't work. Planka is awesome due to it's looks. Also has some major features that every kanban board should have but they're just unable

[2022-06-14 21:53] SiM22 commented on #29
What you said is the reality. From comments made in other issues there seems to be a goal for a paid cloud version of Planka or something along those lines. The lack of care for the users who have helped them better the product is at the moment non existent.

[2022-06-15 05:48] gamelaster commented on #29
@SiM22 in Readme there was mentioned for long time that it's ALPHA software and it can break (mainly in terms of database structure). And it did. There are several issues here which have several ways of fixing this. I had this issue too, and fixed it according the manuals. This is still just community project, so far no efforts being commercial product, and developer seems to be busy.

[2022-06-15 07:32] erwaan commented on #72
I finally managed to add authentication by ldap, I will share my code for a pull request as soon as possible

[2022-06-15 12:13] #60 closed

[2022-06-15 18:39] joggs opened #263 "Filter on "No label""
It would be great if you could filter on "no label".
You could then for example list all tasks as default with no label, and then only have a DONE-label, to make them disappear from the list.
As it is now you have to remember to add a label to every new task, which you could forget

[2022-06-16 01:18] andrewmjordan opened #264 "[Feature Request] View all currently assigned cards"
Hi Planka community,

Could we get a screen which shows all cards assigned to the current user? This screen would show cards across all projects/boards. I'm thinking the user can access the screen by clicking an icon at the top right of the UI:

![idea](https://user-images.githubusercontent.com/48300131/173970878-ad2c94d3-1e8c-4a3e-82a8-e9d563c5f636.png)

[Trello](https://support.atlassian.com/tre

[2022-06-16 05:40] KaptinLin commented on #72
+1 for ldap support

[2022-06-16 21:31] FluffyDiscord commented on #243
cloned the docker compose and ran it, the demo user login is not working

[2022-06-17 07:38] skahl commented on #242
Push please!

[2022-06-20 12:49] djchoyr commented on #111
I'm using a synology NAS but I don't know where the problem is. I have created other proxies for other docker services without any problem. Could you add the docker-compose code?

[2022-06-20 21:37] nickbe commented on #259
For this you can assign colors to your tags which look much more elegant.

[2022-06-20 21:38] nickbe commented on #264
Something similar is already planned although different from trello.

[2022-06-20 21:40] nickbe commented on #72
@erwaan Very nice!

[2022-06-23 21:13] andreasgerstmayr opened #266 "Creating a new card by REST API"
I'm looking for a way to create a new card with the REST API.

Afaics I need the `POST /api/boards/:boardId/cards` route, with these parameters: https://github.com/plankanban/planka/blob/ecc45c7a9eb77e0e38bbbb1880a42c72d088fb99/server/api/controllers/cards/create.js#L20-L31

I can get the the `boardId` by calling `/api/projects` and looking at `included.boards` of the response, but I don't know ho

[2022-06-24 09:24] meltyshev commented on #266
Hi!

This endpoint needs to be fixed, I'll try it now. I think I did this check because of the `sails.sockets.join` at the bottom.

You can find how the position is calculated in `client/src/selectors/core.js`. To insert somewhere in the middle you need to get the previous card and next card and then use the formula `prevPosition + (nextPosition - prevPosition) / 2`. If you want to place the card

[2022-06-24 19:05] pztrn opened #267 "Error updating 1.3.1 to 1.3.2 in docker"
[code]

And that's it. Search gives me nothing in issues.

[2022-06-25 06:39] KaptinLin commented on #72
@erwaan look forward to the pull request.

[2022-06-26 02:16] GrahamJenkins commented on #23
Hey, checking out this project. First off, wow, it looks uncannily like Trello :-D I'm a long time user but have been looking for self hosted alternatives. I'm planning on launching this to give it a shot. Good work so far!

I wanted to add my +1 to keyboard shortcuts. I took a look at the demo and it's pretty nice. However, when I reached for my commonly used shortcuts, they were sadly missing. I

[2022-06-27 17:32] #266 closed

[2022-06-27 22:39] shamoon commented on #139
Any ideas why I get this same error now every time the container is recreated? I no longer have to perform migrations of course just `wget` the file and planka is happy again. Im running `latest` and I see the migration exists in my db:

[code]

Also tbh I dont really understand why that file is still not in the docker image and this error persists?

[2022-06-29 12:15] astenmco commented on #72
Here it is #268

[2022-06-29 18:49] SmartPhoneLover commented on #232
+1

[2022-06-29 18:52] SmartPhoneLover commented on #191
+1, I find it very useful.
Also, Trello has it already.

[2022-06-29 19:28] SmartPhoneLover opened #269 "Add support for different data formats"
I would like to be able to choose the data format, or at least, make the service to detect it from our browser or variables (passed).

Original: MM/D/YYYY
Decided: DD/MM/YYYY or D/MM/YYYY

![554774](https://user-images.githubusercontent.com/42898749/176519401-2158a13b-552d-4e10-9695-cdd155ce2b35.JPG)
![463636](https://user-images.githubusercontent.com/42898749/176519406-ccd096b1-9675-43c2-83d4-026

[2022-06-30 08:16] GNIKEI-D commented on #234
i have same issue on the last version rn..

[2022-07-01 13:41] brlbil opened #270 "Add support sqlite as DB"
I would be a great addition to support `sqlite` as an alternative DB.

[2022-07-04 09:05] belf88 commented on #262
any news guys? @meltyshev

[2022-07-11 08:38] ivan94fi commented on #149
Hi @meltyshev, any update on this? We are particularly interested in on the second point, getting the ability to reorder tasks by drag and drop

[2022-07-11 08:41] garret commented on #149
I have been also waiting especially for the 2nd point.

[2022-07-12 14:14] meltyshev commented on #149
Hi! The next task I plan to do is to make tasks reorderable and then duplication 👌

[2022-07-13 11:49] djsamyak commented on #241
Getting the same issue. Commenting for visibility.

[2022-07-13 12:47] pointjalta commented on #166
Has anyone discovered what issue causing the problem? I just can't find a way yet on how to fi this ...

[2022-07-14 11:35] raikoug opened #271 "Error: SASL: SCRAM-SERVER-FIRST-MESSAGE: client password must be a string"
Hello,

this error is thrown with this composer

[code]

And this is the init.sql mentioned inside DB

[code]

(this is a tested and common template I use for wiki js, git servers etc, and works just fine)

the error I get is
[code]

I tried password either with or without columns, the error is the same.

Thanks

[2022-07-14 12:03] meltyshev commented on #271
I don't know much about connecting to databases, but could you try to change the value of env variable `DATABASE_URL` to `postgresql://planka:planka@db/planka`.

[2022-07-14 12:12] raikoug commented on #271
duh now I feel dumb!
But I've a new error

[code]

Now I think planka container can't translare "db"

Should I open a new issue?

Thanks for you reply @meltyshev

[2022-07-14 12:40] meltyshev commented on #271
You are welcome!
The second error is due to the `new url.URL(process.env.BASE_URL).origin`, is seems that `BASE_URL` cannot be parsed for some reason, but when I test `http://planka.whatever:11082` it works for me 🤔

[2022-07-14 19:49] VozDeOuro commented on #93
did you fix it ?

[2022-07-15 00:11] GrahamJenkins commented on #23
Update: I am starting to use Planka for personal/business use. While development has not *started*, I'm trying to assign some "free" developer time towards implementing at least a barebones functionality for this.
Fork: https://github.com/TheGeekyNinja/planka
@nickbe is there anyone that you know who could point us in the right direction/preferred method to implement:
1. Single key, event handle
2

[2022-07-15 00:16] GrahamJenkins commented on #254
Hi @pointjalta it's hard to help without knowing how you have HA set up. I would suspect that it may have something to do with websockets not being forwarded properly. I'm not sure if it is the same page, but I had the grey background and spinner with incorrect reverse proxy configuration, is that what you are seeing?
Possibly related: #21

[2022-07-15 00:19] GrahamJenkins commented on #236
One of the maintainers said that is something they are working on, that implies that it is not supported right now. The nature of open source projects is that you can politely ask for help or features, but if the functionality isn't there, you either sit back and wait, or get involved by developing/funding development yourself.

FWIW: I think a read only user role would be useful. Am I willing to

[2022-07-15 11:39] niktob560 commented on #92
Anyway, swimlanes can be good enchancement for canban (e.g. trello addons with swimlanes are useful)

[2022-07-17 20:30] meltyshev commented on #23
Hi @GrahamJenkins!

Planka uses [react-beautiful-dnd ](https://github.com/atlassian/react-beautiful-dnd) for drag & drop and it looks like it already has keyboard events support: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/accessibility.md (but this is only for moving cards). Probably have to try to turn them on somehow or fix them if they don't work properly.

For cust

[2022-07-18 17:36] andidevi opened #272 "directory in BASE_URL is partially ignored"
If you set a directory in BASE_URL like
[code]
planka is served from `/planka`  but the html still loads assets from `/static/…` and `/manifest.json` instead of
`/planka/static/…` and `/manifest.json`.

That files are also served from the wrong place so BASE_URL is only honored for the basic html, but everything else is outside the defined base.

This also may affect #43 and #111, but those issues

[2022-07-21 09:31] #50 closed

[2022-07-21 09:31] #232 closed

[2022-07-23 14:41] johngalactic commented on #139
After following the instructions in @johnchristopher 's post, I still had to deal with migrations being broken.  After I updated my 0.1.6 DB to 1.0.0-beta following these instructions:  https://github.com/plankanban/planka/issues/139#issuecomment-903116496

I ran this to update the migration table on 1.0.0-beta.  Afterwards I was able to update to 1.1.0, then 1.1.3, 1.2.1, 1.3.1, 1.4.0.  I stepped

[2022-07-25 05:44] Shahin-rmz commented on #199
Ibsecond this

[2022-07-26 10:27] #212 closed

[2022-07-29 19:44] LBarros77 commented on #66
I got translate to PT-BR, but in the moment I'm receive a problem how this:

error: Malformed hook! (session)
[server] error: Hooks should be a function with one argument (`sails`)
[server] error: But instead, got: true
[server] [nodemon] app crashed - waiting for file changes before starting...

Someone help me?

[2022-07-31 22:43] meltyshev commented on #267
Hi! It seems to be just a warning because the database adapter can't handle uniqueness constraint for composite index. So these warnings can be skipped.

Related issue: https://github.com/balderdashy/sails/issues/4632.

[2022-08-02 18:42] SimonTagne opened #275 "RFC: Securing authentication tokens"
Hello !

Here are a few thoughts about the security of authentication tokens:

1. The cookie is not marked as secure. If planka is served over https, the cookie should be marked secure to avoid sending the authentication token over an unencrypted connection. I think a reasonable way to check this is wether `BASE_URL` (or the current browser location) starts with `"https"`.
2. The cookie has no Sam

[2022-08-03 00:46] chooya commented on #66
hello,
I send the korean language file, please add it.

[korean_language.zip](https://github.com/plankanban/planka/files/9247017/korean_language.zip)

[2022-08-03 01:46] JamieSlome opened #276 "Add SECURITY.md"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@vultza) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a securit

[2022-08-03 09:13] crishnakh commented on #165
Archive would be great

[2022-08-03 09:44] meltyshev commented on #275
Hi! You are absolutely right on every point. Already looking forward to a pull request. Thank you 🙏

[2022-08-03 10:26] xoaaC opened #277 "[Feature Request] Text field visible on card"
Hi,

i would to propose a feature request for a visible text field under the card title.
Trello has this in his premium features and i use this quite often for some context for a task.

This feature could be added in the "Add to card" region and upon selecting this option,
a text field similar to the "Description" field could appear in the main pane where you can add text
which then is visible on

[2022-08-03 11:15] #276 closed

[2022-08-03 11:18] meltyshev commented on #276
Hi! Thanks for the suggestion. Already done 🙂

[2022-08-07 09:46] vibhuti019 commented on #165
Hey, I would like to work on this issue. Let me know the feature in more detail.

[2022-08-09 16:03] #275 closed

[2022-08-09 19:58] TheRealRSG opened #280 "[Feature Request] Print button on boards"
First off, let me thank you for creating such a great trello alternative.

I think a number of us would highly benefit from a print button on the boards, that will properly turn the page into a printable format and print your boards, and individual cards. When providing reports to upper management, a good number of them still want things on paper, and this would be a much appreciated feature by ma

[2022-08-11 18:25] Giorgio-Banani commented on #166
Here is my docker config that worked in combination with portainer and nginx proxy manager:
Make sure you have the https domain set as base_url and websocket enabled in nginx proxy manager.
----------

version: '3'

services:
  planka:
    image: ghcr.io/plankanban/planka:latest
    command: >
      bash -c
        "for i in `seq 1 30`; do
          ./start.sh &&
          s=$$? && break || s=$$?;

[2022-08-12 08:37] lue30499 opened #281 "[Feature Request] Nested checkboxes."
Not sure how difficult but it would be nice to have nested checkboxes. Something like this in Google Keep:

![image](https://user-images.githubusercontent.com/63104612/184317268-21bfdea0-5a9f-406c-ae92-210df92d93da.png)

If too difficult or out of scope then all good.

Regards,
Lue

[2022-08-19 07:33] nickbe commented on #281
Having Task-Cards with tasks within subtasks and assigning subtasks to tasks with subtasks and so on .... would be uncontrollable for most. Easy is the key here. Remember that the main control is the board itself and not the subtasks. Also Sub-Subtask progress can not be easily shown on the card either.
So I'd say that this is definetely out of scope.

[2022-08-19 08:34] vincentpricex commented on #280
that would be great

[2022-08-19 08:55] SakerSalama commented on #184
Hello ,, i try to deploy mentioned steps and everything seems fine except last step related to Start Production ,, i get the following error :
`root@planka:/var/www/planka# sudo -u www-data npm run build
npm ERR! Missing script: "build"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     /var/www/.npm/_logs/2022-08-

[2022-08-19 11:56] #82 closed

[2022-08-19 12:01] #262 closed

[2022-08-20 03:56] lue30499 commented on #281
Fair fair. Not sure if it makes a difference but google keep only allows 1 level of nested. Not infinite.
It would help for organising dependancies. But again close of out-of-scope.

[2022-08-20 15:33] nickbe commented on #280
My personal opinion was very ambivalent here. "Stop printing things :) ". But I also understand that some people want printouts and due to the way they work even need them to be able to use such a system at all.

So I will extend my previous card "Printouts" a little (yes it was already there) and suggest that the printout should not only be there but that we in fact improve the print layout for p

[2022-08-20 16:42] StevenJCorreia opened #283 "Logging and Fail2ban support"
Hey all,

# Background
I started hosting and using Planka on my home server recently and I was concerned that there was no support to expose the logs, specifically failed authentication attempts, and point [Fail2ban](https://www.fail2ban.org/wiki/index.php/Main_Page) to them in order to automatically ban people attempting to get into accounts.

# Proposed Features
- Log failed authentication attem

[2022-08-21 03:48] nickbe commented on #283
This is simply something that was not important at the time. Please go ahead and make a pull request for this. We will review the log format then....

[2022-08-21 14:23] frogman544 commented on #115
Hello, first of all, excellent work guys! Is there any news on the "Rearrange Projects via WEB UI" feature?
I'm using Planka to track my personal chores and found myself scrolling through the projects to find the right one, this would be much easier if I could move it to the top. Cheers!

[2022-08-21 18:53] StevenJCorreia commented on #283
@nickbe PR opened.

[2022-08-22 14:00] pluveto commented on #21
HTTP works but Websocket not

[code]

[2022-08-22 14:06] pluveto commented on #223
exactly same issue

[2022-08-22 14:23] pluveto commented on #223
Found this :

[code]

Which means nginx is not the problem. my local host cannot connect into the websocket server insdie docker

[2022-08-22 15:57] gamelaster commented on #21
@pluveto Please post your nginx site config.

[2022-08-22 16:37] pluveto commented on #21
@gamelaster
Exact same config as @tricoos 's but domain.
Finally resolved by reinstall containers without changing nginx config. I guess may be caused by a strange state of the running nodejs process.

[2022-08-22 19:31] meltyshev commented on #281
Probably it would be nice to have an ability to add multiple task lists with titles 🤔

[2022-08-22 23:04] meltyshev commented on #283
🙏

[2022-08-22 23:04] #283 closed

[2022-08-23 13:39] saschafoerster commented on #243
I just created a fresh installation on docker and the demo-user is working. Maybe you have to prune your docker cache and start fresh?

[2022-08-23 13:41] saschafoerster commented on #105
@jnettome If I can help testing the wekan-import, let me know. We have some larger boards, that I would like to migrate.

[2022-08-23 15:35] jnettome commented on #105
@saschafoerster sure, I'm not sure if the way we implemented will or can be accepted as a MR, but if you want I can provide a batch script, our branch or something like that for you

[2022-08-23 15:45] saschafoerster commented on #105
@jnettome That would be cool, so I can experiment a little with it. I guess that Wekan has a lot more fields and options, but I would need only the most important fields and then do the rest of the migrations manually board by board.

[2022-08-24 06:04] matbgn commented on #80
Any news on this topic? Still a must to have as a user ans sysadmin ;-)

[2022-08-24 17:04] Naozumi commented on #241
Is your `BASE_URL` the same as your external url? In this case, `BASE_URL=http://192.168.1.187:3000`?

[2022-08-24 17:52] moritzmofi opened #287 "update - attachments missing"
After updating planks the Attachments cannot be found.
If I look in the docker volume in the directory attachments - its empty.
What can I do?

[2022-08-24 19:02] meltyshev commented on #287
Hi! It's very strange. Could you please provide what version did you update from?

[2022-08-24 20:03] vincentpricex commented on #241
i try to find a help about it, but support is limited so i gave up using on network.

end of this month will deploy new vps server so i guess i'll try to install on web server.

[2022-08-24 20:58] Naozumi commented on #241
No worries - I've not long started using, but this is from experience testing (and breaking). For the websockets to work (which this needs) the URL you access via must be exactly as is written in `BASE_URL`. Anything else and you will still get the logon screen, but you wont get passed it.

[2022-08-24 21:00] Naozumi commented on #236
FYI - RO was added in 1.7.0
![image](https://user-images.githubusercontent.com/5079955/186522483-289c3b9d-3f12-4e1b-94c9-c164bf822025.png)

[2022-08-25 09:20] moritzmofi commented on #287
thanx for your quick answer - I found the error my docker-compose.yml

[2022-08-25 09:20] #287 closed

[2022-08-26 02:45] Avey777 opened #288 "系统一直加载"
![image](https://user-images.githubusercontent.com/35259040/186805544-1128af93-e588-436e-8292-5aee3f6b79d3.png)
可以打开登录页面，使用demo@demo.demo 登录后，系统就一直加载！ 无法打开登录后的页面

[2022-08-26 11:53] meltyshev commented on #288
Hi! Did you specify a `BASE_URL` in the configuration? It should be exactly the same as the URL in the browser.

[2022-08-26 12:19] Naozumi opened #289 "[Feature Request] Reorder Labels"
Would it be possible to have the ability to reorder the labels? For example, I have some labels that designate the priority and it would be better to have those sitting together in the label list.

Thanks
PS: Loving Planka & the work you guys are doing!

[2022-08-29 07:46] matatentacle opened #290 "Project Template // Project Archive"
Really like Planka, I think you have done a great job here.

I just have two suggestions that would be great for busy environments with lots of users and projects.

1 - Project Template or Duplicate
2 - Project Archive

[2022-08-30 16:16] frogman544 commented on #166
Hey man! Can you also add the nginx part? Cheers!

[2022-08-30 23:44] StevenJCorreia opened #291 "Update Sails.js configuration to fix TRUST_PROXY flag"
After my I implemented #283, I finally got around to integrating it into my production server and noticed that the remote (client) IP address was not being correctly forwarded through the proxy.

I realized that this is due to Sails.js requiring that `http.trustProxy` be a `boolean`, not a `number` like we are currently passing it. I assumed that Sails.js would just boolean-wrap the given value bu

[2022-08-31 01:10] Gondolindrim commented on #242
Apparently I can update up until `0.1.6` , so maybe something happened at `1.0.0` that gives the error.

[2022-09-01 11:41] FreeSst opened #292 "Can't add an image (Attachment or background)"
When I try to add an image it redirects me to the login page.

Planka installed with Docker Compose through Portainer. Changes in yml only here:
[code]
Redirect by

[code]
[code]
In browser console I see this:

![planka_error](https://user-images.githubusercontent.com/6725426/187905294-21aac8ed-e786-4ade-82ac-9479fd387d46.png)

[2022-09-02 03:08] verazhoo commented on #288
me too.
[code]

[2022-09-02 08:06] justinmayer opened #293 "Adding new user results in "unknown error""
I originally installed an earlier version of Planka (maybe 1.5) via Docker Compose and was able to add new users without any problems. Today, on the latest Planka 1.7.4, I tried to add a new user and see the following error in the browser: `Unknown error, try again later`

I don't see any errors or other related output in the Docker logs, nor are there any errors in the browser console. I tested o

[2022-09-02 08:31] FreeSst commented on #293
It seems there is some sort of password check for length or included symbols. Try to add more symbols and something special * for example. It helps me.

[2022-09-02 08:54] FreeSst commented on #292
Seems that this is the same problem as described here:
https://github.com/plankanban/planka/issues/189

If I use IP without https all works
BASE_URL=http://serverip:3358

Workaround for Apache is described there. But all my experiments with Nginx have had no luck.

[2022-09-02 10:47] meltyshev commented on #291
Sure! Please make a PR with a fix 🙏

[2022-09-02 11:07] meltyshev commented on #242
In the 1.0.0 release there were a lot of breaking changes, so it's a little bit hard to update from the beta. Please follow this thread for the fix: https://github.com/plankanban/planka/issues/139.

[2022-09-02 11:18] meltyshev commented on #293
I made a mistake in checking password length on the client and I forgot to add the password requirements when creating a new user. Will be fixed soon 👌

[2022-09-02 11:32] meltyshev commented on #292
I hope that someday I will make a documentation with installation and working configs 🙈

[2022-09-02 11:57] meltyshev commented on #288
This is because a socket can't connect to the server. Usually people encounter this problem when they use a proxy server. Here are examples of working configurations for nginx: https://github.com/plankanban/planka/issues/21. I need more information about your setup to find the exact problem.

[2022-09-02 12:05] #293 closed

[2022-09-02 16:00] justinmayer commented on #293
@FreeSst & @meltyshev: Many thanks to you both for responding so quickly. Much appreciated!

I can confirm that the issue has been resolved in v1.7.6.

Last but not, bravo to @meltyshev for all the steady and fast releases. As a project maintainer myself, I deeply appreciate that level of commitment to frequent releases. Well done! 👏

[2022-09-02 16:09] justinmayer opened #294 "Drop requirement for specific characters in passwords"
Recent changes to Planka now require a letter and a number when setting a password. While well-intentioned, this is not a recommended practice when enforcing password strength. Instead, the focus should be on overall entropy.

Per [NIST guidelines](https://pages.nist.gov/800-63-3/sp800-63b.html), requiring specific character types in a password is not recommended (emphasis mine):

The present requ

[2022-09-02 16:30] meltyshev commented on #294
I completely agree with you. I plan to add a password strength bar based on https://github.com/dropbox/zxcvbn. It was just the first idea to fix the ability to have a 1 character password.

[2022-09-03 11:39] FreeSst commented on #292
After a while, changed a lot of options in configs and spent a lot of time.
I have uploaded some images when connected by IP. After I changed setting to a domain, and I can see the uploaded images. But I can't upload it through the domain at all.
Error:
`POST https://planka.mydomain.com/api/projects/795141969448797479/background-image    [HTTP/2 401 Unauthorized 299ms]`

[2022-09-03 12:40] meltyshev commented on #292
It looks like Authorization header is missing because of the CORS settings 🤔
What if you try to set `allowOrigins: '*'` in the `server/config/security.js` (just for the test).

[2022-09-03 15:02] meltyshev commented on #291
Fixed by https://github.com/plankanban/planka/pull/295. Thank you!

[2022-09-03 15:02] #291 closed

[2022-09-03 17:47] #294 closed

[2022-09-04 09:42] FreeSst commented on #292
Did not help :(
At this time we have:
1. http://IP:port - can upload images, but I don't see them;
2. https://planka.domain.com - I can't upload images, but I see uploaded by IP images

[2022-09-04 22:57] mani-hi opened #296 "[Feature Request] @mentions"
It would be great to be able to mention via @ another user.
(The given user would receive a oncard notification even if he does not follow the card.)

<3 !!!

Regards,
Mani

[2022-09-04 23:03] manihindrich opened #297 "[Feature Request] follow by interaction with card"
It would be great to have (as a switchable option in the profile) automatically start removing the card on any interaction with it (commenting). Similar to Trello.
It happens to us that we are waiting for the other person's answer and he does not know that someone has written to him.

Regards,
Mani

[2022-09-06 07:32] Riya123-code commented on #48
Can i work on this enhancement?

[2022-09-06 07:37] verazhoo commented on #288
Thank you. 已经解决了,我觉得把这个问题应该在文档里面说明一下. 这个问题本身不复杂,但是对于第一次接触的人来说,不知道发生了什么,改怎么办

[2022-09-06 07:45] meltyshev commented on #48
Yes, sure! I planned to do this as my next task, but then I'll just skip it. If you need help, you can ask me.

[2022-09-06 17:36] anonymous-baaka commented on #73
since this feature still seems incomplete, I would love to work on it. @meltyshev

[2022-09-07 12:23] JohnRock0422 commented on #19
+1

Any roadmap?

[2022-09-07 16:12] meltyshev commented on #13
Hi! First we need to add Cypress. I can try to figure it out soon, or please do a PR 🙏

[2022-09-07 16:19] meltyshev commented on #73
Pull requests are always welcome 🙏

[2022-09-08 09:21] frogman544 commented on #19
It would be nice to have a roadmap that is in the "Client demo" for Planka.
In addition to the mocked data, also have the actual roadmap.

Cheers

[2022-09-08 11:09] Rohit-Shambwani commented on #269
I would like to contribute to this issue.. Can I please get an approval from any contributor of this repository?
About Me:
I am a student currently completing his Post Grad in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixed

[2022-09-08 13:16] SmartPhoneLover commented on #269
Thank you very much @Rohit-Shambwani for contributing with my idea, it for sure, will help others as well.

But, I have decided to switch to WeKan, as it has the features I really want. So, I don't use Planka anymore.

[2022-09-08 14:24] Rohit-Shambwani commented on #289
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently completing his Post Grad in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixed

[2022-09-08 14:25] Rohit-Shambwani commented on #269
Thank you @SmartPhoneLover and no worries

[2022-09-08 15:39] BenRoe commented on #3
Any updates on the "Public board" feature?

[2022-09-09 08:13] meltyshev commented on #19
This is a good idea 🤔

[2022-09-09 08:16] meltyshev commented on #289
Hi! Sure, feel free to make a pull request 🙏 If you need any help, you can ask me.

[2022-09-09 08:36] meltyshev commented on #269
Sure! Pull requests are always welcome 🙏 We need to figure out how to fix it. The translations already have support for different formats, probably it should be just changed there.

[2022-09-09 11:39] aditya-shrivastava commented on #280
Hi @meltyshev, I am new to open source and would like to work on this issue. Can you assign it to me?

[2022-09-09 15:29] Parit99 commented on #249
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently completing his Post Grad in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixed

[2022-09-09 15:59] Parit99 commented on #245
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently completing his Post Grad in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixed

[2022-09-09 20:55] d1nuc0m commented on #249
@Parit99 I don't think you need a formal approval (just fork&pull request), but in doubt ask @meltyshev

[2022-09-12 16:55] mdeanda commented on #254
It might have to do with the BASE_URL setting in the docker-compose file you used.

[2022-09-13 20:35] martabal opened #298 "Access from LAN and reverse proxy"
I can access planka from my LAN and with a domain name with a reverse proxy based on the base_url variable. Is it possible to access the service from the lan (http://192.168.1.x:3000) AND with a domain name (https://my.domain.name) ?

[2022-09-16 09:43] meltyshev commented on #298
Hi! Unfortunately, this is not supported yet 😔

[2022-09-16 13:55] gr0vity-dev commented on #292
I had a similar problem that attachments would not load. (However my real issue was that I had a traling / in my base Url and images could not be found under //attachements)

This is my nginx config that works for me :
[code]

[2022-09-17 20:41] martabal commented on #298
Oooh too bad ...
Anyway, thank you for this beautiful project !

[2022-09-20 11:55] Sarabades opened #299 "[Feature request] Story point box"
A box to add story points on each card please.

[2022-09-20 22:39] nickbe commented on #299
Can you elaborate for what purpose you thing they will be useful.

[2022-09-21 05:31] ogmor opened #300 "One account (with admin rights) lost access to every project"
Hi everyone,

We've been using Planka with a few users, my account has the admin rights and I created all projects, so I had access to everything.
It worked very well for a good 4 months, I didn't change anything on the docker-compose.
I'm quite new in this, I'm not sure how to check which version I am using. I used the latest version in May 2022.

Since this morning, I get an empty black page whe

[2022-09-24 18:13] martabal opened #301 "Wrong Due Date"
When changing the due Date, the date saved is the date entered minus 2 hours.
![Planka — Mozilla Firefox 2022-09-24 20-03-04_2](https://user-images.githubusercontent.com/74269598/192112592-07bf0bf1-ed97-4c4b-804f-92c66281f398.gif)

[2022-09-25 10:34] jacqueslorentz commented on #272
Hi all!
I faced the same issue!
The React application path is not configured with the BASE_URL variable, not very complex.
But it seems that the lib `sails.io.js` used for websocket does not support url path and is not actively maintained anymore.

In the call of `sails.io.js` dependency `socket.io-client`
https://github.com/balderdashy/sails.io.js/blob/88b96ea019db4a03a1fb5fff0600dc7fd23f7862/sai

[2022-09-25 20:05] jnijland opened #302 "413 error (Request Entity Too Large)"
When uploading a file (just 1mb) via a Planka installation using docker, I get a 413 (Request Entity Too Large) error. I cannot upload any files. Is this a bug or a misconfiguration on my side?

[2022-09-26 08:59] meltyshev commented on #300
Hi! Could you open the console in your browser and see if there is any error? It looks like an error when loading...
To open the console: F12 and switch to the console tab.

[2022-09-26 09:02] meltyshev commented on #301
Hi! Did you change `TZ` in the `server/.env` file? It should always be set to `UTC`.

[2022-09-26 09:17] meltyshev commented on #302
Hi! I've tested it and I have no problems with uploading 🤔
This could be a bug, but I need more information about your configuration. Are you using a proxy server?

[2022-09-26 10:13] martabal commented on #301
Nope I didn't. It's fixed, thank you!

[2022-09-26 10:13] #301 closed

[2022-09-26 23:51] ogmor commented on #300
Hi, thank you for your reply.

Here's what I have in the console
![Console_blackpage](https://user-images.githubusercontent.com/85091645/192400407-56f4fb3d-1463-40dd-8a6f-7d39b14d7c8b.jpg)

Cheers

[2022-09-27 12:03] meltyshev commented on #300
It seems that you have a very old version of Planka. This is due to an old bug when deleted users would not load.
The best way to fix this is to update to the latest version. Or it could be fixed in a similar way to https://github.com/plankanban/planka/commit/3cdb614b57f632cea4690412b359fe963d27832b.

[2022-09-28 09:11] ogmor commented on #300
I successfully migrated to 1.8.1, thank you very much !

[2022-09-28 09:22] #300 closed

[2022-09-30 08:12] Brancliff commented on #25
Any word on this?

[2022-09-30 09:49] #43 closed

[2022-09-30 09:49] #111 closed

[2022-09-30 09:49] #272 closed

[2022-09-30 10:39] mzch opened #305 "400 Errors in v1.8.3"
No page is shown in `v1.8.3`. Seems not to set `BASE_URL` variable.

** built index.html **
[code]

** Screen Shot**
<img width="1512" alt="ScreenShot" src="https://user-images.githubusercontent.com/621178/193252621-6371cdad-22af-4ed7-844a-d695a9be0b7f.png">

[2022-09-30 10:51] meltyshev commented on #305
Thanks for reporting this! Checking...

[2022-09-30 11:07] meltyshev commented on #305
Are you using Planka without Docker? It looks like I forgot to mention to rename `server/views/index.html` to `server/views/index.ejs`, because without renaming Planka loads `index.html` from `server/public` without injecting `BASE_URL`.

[2022-09-30 11:20] mzch commented on #305
Yes, I don't use `Docker` but `npm`. BTW there is no file in `server/views`. Which file should I rename?

[2022-09-30 11:33] #305 closed

[2022-10-04 17:56] Sarabades opened #308 "[Feature Request] Search bar for cards in board"
Search bar for cards in board

[2022-10-12 12:37] Riya123-code commented on #48
Will it be fine if i give copy and paste option to every card ? like  clicking the pencil on the top right of the card and providing option of copy and paste .

[2022-10-12 12:42] Riya123-code commented on #250
can i work on this bug?

[2022-10-12 13:16] amitjethani commented on #93
I realize this is a year+ old issue, but I'm having the exact same problem with a Synology NAS when deploying using Portainer. Everything worked well the first time around, but a reboot has left things in a broken state.

[2022-10-13 02:29] amitjethani commented on #93
Edit: this is solved. Turned out to be a firewall issue.

[2022-10-13 06:14] Riya123-code commented on #48
Can i get an approval on whether i am assigned this task so that i can start working on it.

[2022-10-14 12:04] meltyshev commented on #48
Sure, you are assigned this task 🙂

[2022-10-14 13:29] Zev-se opened #310 "API lacks GET request for lables"
It seems there's a API request missing a request to list the available labels (already created ones). I found exposed API requests in this file: https://github.com/plankanban/planka/blob/master/server/config/routes.js

There we can see the possibility to add, change and delete labels but not listing them. This also seems supported in the code as shown by this file: https://github.com/plankanban/pl

[2022-10-16 07:39] Rohit-Shambwani commented on #289
Hi @meltyshev I am facing difficulty in locating the source code where labels have been written..I have cloned the repo and done the deployment and development part..Can you please help me in locating the code where it is written for the label creations and operations?

[2022-10-17 11:39] Riya123-code commented on #48
first of all thanks for assigning me this task.
Is there any project related specific group to discuss errors or doubts ?

[2022-10-17 18:46] meltyshev commented on #289
Hi! It's hard to describe about every file.

Component with labels: `client/src/components/LabelsStep/LabelsStep.jsx`.
Logic when saving: `client/src/sagas/core/services/labels.js`.
Calculations for a next position: `client/src/selectors/core.js`.

Probably the easiest way would be to see how reordering tasks works, and make labels in a similar way.

[2022-10-17 18:52] meltyshev commented on #48
Unfortunately no, you can text me on Telegram (username: gh0st1y) and I'll try to help. I'll be sure to add a place for discussions soon.

[2022-10-18 17:43] MFYDev opened #312 "The data directory was initialized by PostgreSQL version 14, which is not compatible with this version 15.0."
2022-10-18 17:39:05.010 UTC [1] DETAIL:  The data directory was initialized by PostgreSQL version 14, which is not compatible with this version 15.0.

Hello, today the newest version of postgresql released and I installed planka by using docker-compose, could you please add support to the postgresql 15?
Thanks a lot

[2022-10-19 10:40] meltyshev commented on #312
Hi! It looks like you already had a volume planka_db-data that was initialized by PostgreSQL version 14. So you just need to convert it to the new version. You can find many options here: https://github.com/docker-library/postgres/issues/37 (I haven't tried and don't know which is the easiest way). Or if you don't need the previous data, then you can simply delete it and it should be recreated the

[2022-10-19 14:59] timshannon commented on #312
Just ran into this myself, and I think the real issue is the fact that planka's docker-compose file references an un-versioned image of postgres (`image: postgres:alpine`), so it auto updates to the latest postgres version.  Usually for DB's in docker-compose they'll reference the specific supported version for the application, and provide upgrade paths if they ever change.

The easiest option for

[2022-10-19 17:00] ravitejasssihl commented on #138
@meltyshev Please assign me this issue ,Am intrested in working on this issue...

[2022-10-19 17:10] ravitejasssihl commented on #138
@meltyshev I started working on the issue sir,Please assign me if you receive this message

[2022-10-19 17:39] mazzetta86 commented on #312
Thank you @timshannon I was having the same issue, really appreciated. I agree as well with what said about fixed version for
 the database and upgrade path.

[2022-10-20 10:06] lcfd opened #313 "Contribute to the website"
Hi! Is there a way to contribute to the website of this project?

https://planka.app/

I think that we can improve the thing a little bit.
This project deserves more users and attention!

[2022-10-20 10:11] meltyshev commented on #138
Sure, you are assigned 👌

[2022-10-20 10:22] #312 closed

[2022-10-20 10:26] meltyshev commented on #313
Hi! That would be great 🙏 I'll put the source code of the site in a separate repository soon.

[2022-10-20 10:43] lcfd commented on #313
Perfect! I haven't seen a repository for that so I've asked here.
Let me know when it's ready 👍

**Suggestion**
Maybe you can consider opening the Discussions in the organization or in this project.
They are better for things like that.

[2022-10-23 20:54] HT43-bqxFqB opened #314 "How do I close a card?"

[2022-10-24 10:00] meltyshev commented on #313
I can't find the source code of the website, as I did it a couple of years ago, I'll try to look on my home computer when I will be home 🙈

You are absolutely right about the Discussions, I'll open them now.

[2022-10-24 10:06] meltyshev commented on #314
Currently there is no closing functionality...

[2022-10-24 10:39] lcfd commented on #313
Oh nooooo 😆 Anyway if you can't find the source code probably it's not a huge deal, it's not a big website.
Maybe the only thing important to retrieve can be the video.

Do you want to use a framework / SSG / Something to create the website?
Do you have any plans?

[2022-10-24 19:32] HT43-bqxFqB commented on #314
Ok. Thanks for letting me know. For reference for others searching for this. I've tried using a lable to hide "done" cards. This does not work while the card still contains other labels.

A different work aroudn is to create a new space and move "done" cards there after a while.

[2022-10-27 07:50] lcfd commented on #313
Hi @meltyshev! How are you? Any news?

(Every now and then I check just not to leave things on the back burner.)

[2022-10-27 19:09] meltyshev commented on #313
Hi! I'm doing well, and you? Sorry for the long replies from me, heavy workload.
I managed to get the source code of the site, I'll upload it in about 30 minutes.

I used Gatsby and Contentful to create it, but we can drop Contenful, it was just fun to try.

Nope 🙈 It's hard for me to generate ideas and content for the website. We should probably start with a more detailed description of the featu

[2022-10-28 08:02] lcfd commented on #313
Everything fine! Thanks 😄

I can imagine. No stress 😉

I used Contentful in the past but I think we can manage all the content using Markdown files and JSON for an initial version.
I used also Gatsby but it wasn't really my jam. I should check the latest versions.

**If** change can be an option, there are Astro and 11ty.

I totally agree! Can we create a sort of shared doc in Notion/GDoc fashion?

[2022-10-28 10:11] meltyshev commented on #313
Sure! We can change it to whatever you like, you obviously know more than I do 🙂

Yep, I've already created GDoc. Do you have an email for the invite?

[2022-10-28 14:57] kevinreadFA opened #317 "Feature Request - Duplicate boards or cards"
It could be nice if there was the ability to Duplicate boards or cards for ease of transfer to other team members.
 if they have the same set up but still independent, more lazy though

[2022-10-30 21:16] lcfd commented on #313
Hi @meltyshev, I sent you an email 😉 Let me know if you'll receive it and if you can invite me to the document.
Alternatively, you can send me the link to the document with edit permissions.
I'm not a fan of Google anymore so I'm trying to avoid using Gmail as much as possible.

[2022-11-02 16:53] rklos commented on #270
+1 for this idea. I have only a one small board, so the whole fully functional RDBMS with network support, replication and multiple access is quite too much.

[2022-11-04 11:39] nickbe commented on #270
Despite the fact that this might be useful for some I don't think it makes any sense here. Planka's is constructed as a team oriented application. Even though it can be used just for yourself the current database is much more reliable at the least.

Most web applications already have a problem not relying on the real abilities of databases and the current trend to support multiple datbabases makes

[2022-11-04 13:14] rklos commented on #270
@nickbe so that’s why developers use ORMs (in this case knex). You as a Developer don’t care about the database you’re currently using, because responsibility is on the ORM. Adding a support for Sqlite won’t be hard because Knex support it out of the box. Also regarding your first argument - Sqlite is very reliable database (a lot of developers still thinks that is’s only for development or testin

[2022-11-04 13:26] meltyshev commented on #270
Problem to add support for other databases in id generation function, also maybe some data types will be incompatible (need to test). Also there are 2 raw queries in `server/db/migrations/20180721220409_create_user_account_table.js`. If someone does PR, of course we'll add support for SQLite, but for now other tasks are the priority.

[2022-11-05 09:10] FluffyDiscord commented on #296
+1

This and som,e kind of notification system (by email, webpush) and this would be THE utimate kanban board

[2022-11-05 15:16] saschafoerster commented on #296
Mentions should be possible in description and comments. For me this is the last missing feature before we can use Planka in production. Now we are afraid customers will miss informations about changes and comments.

[2022-11-09 16:44] Yehuda-Bergstein opened #320 "Backups"
Is there an option to backup all the data automatically?

[2022-11-09 16:46] #320 closed

[2022-11-11 09:05] tikok974 opened #325 "How to disable login page and start directly to a specific project or dashboard (like demo account on Planka website) ?"
Hello,

I would like our users to go directly to a specific project page (or dashboard and select a project) without going through the identification step (login page)...like demo account on [Planka Website](https://plankanban.github.io/planka/#/)
Is this configuration possible with Planka ?

Thank you

[2022-11-11 15:26] meltyshev commented on #325
Hi! Unfortunately, this is not possible now 😔 The demo works without a server, so we could make an exception there. The idea of public boards is already on our roadmap.

[2022-11-13 12:13] jimbob111 opened #327 "Forgotten my login details"
Hello,

I'm trying to login and have forgotten/changed my login details so cannot login unless I reinstall.

Running Planka in docker and have access to my compose file but don't know how to access the db to find my password.

Is there a way to do this??

Thanks.

[2022-11-14 16:39] Yehuda-Bergstein commented on #155
Hey! is it possible to receive notifications?

[2022-11-15 13:08] meltyshev commented on #327
Hello!

It's a little complicated, but unfortunately it's the only way so far.

First connect to the Planka container (`planka-planka-1` is its name):
[code]

Then enter the console:
[code]

Then update your password:
[code]

Then exit everywhere:
[code]

[2022-11-15 17:09] jimbob111 commented on #327
Hi meltyshev,

Thanks for getting back - did as above (copy &paste) - have only changed email and username  below
`(async () => { const user = await sails.helpers.users.getOne({ email: 'my@addyhere.com'}); await sails.helpers.users.updateOne(user, { password: 'myplankapasswd' }, user); })();`

I get following errors showing in the sails cli

[code]

[2022-11-15 18:35] meltyshev commented on #327
Hm, it looks like a user with the specified email was not found 🤔

You can try to display all users to see if there is a user with the specified email among them:
[code]

[2022-11-15 20:23] #327 closed

[2022-11-15 20:47] vincentpricex commented on #155
Well on my end planka for me and my team without notifications is just a mute. i just gave up using planka, nobody has time for notification update..

[2022-11-16 10:51] tikok974 commented on #325
Hi @meltyshev ;)
Thanks for your reply...it's a good idea to have included this option in your roadmap ;)
Have a nice day

[2022-11-16 10:58] tikok974 opened #329 "Add list separators..."
Hi,
It would be interesting to add list separators for a better readability ;)

[2022-11-16 11:06] tikok974 opened #330 "Insert clickable link in a task"
Hi,
It would be nice to be able to insert clickable links when creating a task

[2022-11-16 11:13] tikok974 commented on #155
Hi everybody,
It is a very good idea to be notified when an action is done (creation of a new card, a new dashboard, end of a task, etc). Ideally, we would like to be able to check the type of notification (creation of a new chart, tasks, etc) that we would like to receive in our profile.
On the administrator's side, being able to set up an SMPT server and being able to test the email sending in P

[2022-11-17 08:24] tikok974 commented on #298
Hi,
I've the same request. For security raison, it would be nice if this were possible.
Planka is a great project....thanks for the work.

[2022-11-17 21:41] nickbe commented on #270
It's about the fact that people should put more effort into using the native features of specific databases instead of trying to satisfy the bare minimum capabilities of many. Databases like Postgres are very powerful, but only if you concentrate on using them beyond the limits of typical frameworks - FAR beyond these limits. In terms of databases performance most web systems behave like toys beca

[2022-11-19 17:28] scepterus opened #335 "Reset forgotten password?"
Hello,
I've been using planka for a couple of months now and have a lot of data on it.
I've run into an issue twice now where I was somehow locked outside and could not access it.
Once was when I migrated to a new form of docker, luckily then I had a backup of the db folder, so I just pointed the docker to that, and I was good.
Now is the second time, since it won't accept my password. What I susp

[2022-11-19 17:53] meltyshev commented on #335
Hello! You can follow https://github.com/plankanban/planka/issues/327 to reset your password. We will definitely add normal password recovery, if not via email, then maybe somehow via environment variables for the first time.
Backup is on our roadmap too 🙂

[2022-11-19 17:57] christophenne commented on #27
Hi, I just discovered planka and it looks like a promising Trello alternative for me.

Regarding the Trello import, is someone already working on it? I'm thinking of doing it by myself and would happily contribute here if it works out, but if you tell me you're halfway through already, I'd rather wait.
Are the "basic structures" kind of finished? Or might there be breaking changes any time soon?

[2022-11-19 18:10] meltyshev commented on #27
Hi!

There is still no import from Trello and we are not working on it at the moment. So it would be great if you could contribute 🙏

Regarding "basic structures" - yes, the current state is quite stable. There are no breaking changes expected in the near future.

[2022-11-19 18:34] scepterus commented on #335
I found the issue, it was because I was using the hostname and not IP. I should maybe update the docker file, is there a way to have both IP and hostname in BASE_URL: ?

[2022-11-19 18:53] meltyshev commented on #335
Unfortunately, it's not possible right now 🙁 We discussed it here https://github.com/plankanban/planka/issues/298 and it really should be fixed.

[2022-11-19 19:04] scepterus commented on #335
But this limitation is kind of self-imposed, no? If you do not specify the BASE_URL, it would work from anywhere, right?
I get the need for securing that, but I'm pretty sure other dockers I've used can access from both.
I could be wrong, though.

[2022-11-19 20:10] meltyshev commented on #335
Not really, the whole problem is links to uploaded files and links to static files. Planka adds the specified BASE_URL to them.

I'm gonna try to dive into this now, maybe I can fix it quickly.

[2022-11-19 21:09] D1p4k opened #336 "Board without Manager."
Hey, I deleted an Account that was the Manager of an Board.
Even as "general" Admin I cant delete the Board or set my self as Manager.

Do you know how I can set my self Manager or delete the Board?

[2022-11-19 21:58] meltyshev commented on #336
Hi!

I'll mark it as a bug, because I didn't even think of such a case.
The only way to fix this is to open the Planka console and add a new manager.

If you are using Docker, you need to connect the container (`planka-planka-1` is its name):
[code]

Enter the console:
[code]

Add a new manager to the project:
[code]

Exit the console:
[code]

If you are using Docker, exit the container:
[code]

[2022-11-19 22:17] christophenne commented on #27
I've been analyzing a bit, and it seems there is not one major trello export, but multiple. You can export JSON for each board individually, and a general one, including some masterdata.
Another way would be to access trello directly via their API.

I don't know what would be best for the user, exporting a lot of files (depending on how many boarsd you have) and importing them seems tedious, but s

[2022-11-19 22:53] D1p4k commented on #336
This solved the Issue thank you ^^

[2022-11-19 22:56] D1p4k commented on #336
But would be nice, if there would be a "lock" so you cant make Projects without Managers?
Or that Admins can set them self as Managers?

[2022-11-19 22:56] #336 closed

[2022-11-20 03:04] Exophobias opened #337 "Modify login page"
I am using the docker version of the software but I can't seem to find where the login page stuff is to modify it. I've checked volumes, containers, and such.

[2022-11-20 12:28] meltyshev commented on #336
I agree, we should think about the best way to do this.

[2022-11-20 12:34] meltyshev commented on #337
Hello! To modify the front-end (any visual part), you need to clone the repository and modify the components in `client/src/components`. After modification you need to run `docker build -t planka .` to create a local docker image, then you can replace `image: ghcr.io/plankanban/planka:latest` with `image: planka` in `docker-compose.yml` and run the container.

[2022-11-21 10:23] seriousm4x opened #340 "Cards getting reordered on drop in long lists"
I noticed a strange behavior with long lists. Sometimes when I drop a card at the very top of a list, it get's moved to somewhere in the middle of the list. It didn't happen with short lists thought. Also there is no error in dev tools. I recorded a short video of the issue.

https://user-images.githubusercontent.com/23456686/203026548-0613ac19-0d73-4e57-bd3f-bf890b669f65.mp4

[2022-11-21 16:03] meltyshev commented on #340
Hi! This is definitely a bug. Thanks for reporting it with the video 🙏

[2022-11-21 16:07] #340 closed

[2022-11-21 17:37] seriousm4x commented on #340
thanks for the quick fix 👍🏼

[2022-11-22 07:26] andysjt opened #341 "The <%= BASE_URL %> not replaced"
The index.html after build contains BASE_URL,which is placed in /server/public and has not been replaced by sails.
How can I troubleshoot the problem?Thanks.

[2022-11-22 07:38] #341 closed

[2022-11-24 15:41] tikok974 commented on #111
Hi everybody,

I installed Planka about 2 weeks ago to test it via Docker on my Synology NAS. I tried to set up a reverse proxy to use HTTPS instead of HTTP but it doesn't work !

In HTTPS I get to the login page and when I try to log in nothing happens after validating my credentials.
However, if I do it in HTTP ...it's ok :(

The proxy on my NAS captures HTTPS on port 3017 and redirects HTTP on

[2022-11-24 16:07] tikok974 opened #342 "Redirect HTTPS doesn’t work with Synology NAS reverse proxy to Planka container…"
Hi everybody,

I installed Planka about 2 weeks ago to test it via Docker on my Synology NAS. I tried to set up a reverse proxy to use HTTPS instead of HTTP but it doesn't work !

In HTTPS I get to the login page and when I try to log in nothing happens after validating my credentials.
However, if I do it in HTTP ...it's ok :(

The proxy on my NAS captures HTTPS on port 3017 and redirects HTTP on

[2022-11-24 16:28] mzch commented on #111
Do you add settings of websocket proxy to nginx?
[code]

[2022-11-24 17:18] edingor opened #343 "Docker build fails"
Tried multiple ways to build this image and just cannot

Portainer - fails
LXC with Turnkey docker - fails
LXC with Ubuntu 20.04 and manual docker + docker compose install

Nothings seems to truly work and the error is always the same

![image](https://user-images.githubusercontent.com/19528994/203838755-d8ceda83-4490-427b-9584-071be2bb91eb.png)

anyone had this issues?

Is it better to just boot

[2022-11-24 22:48] Exophobias opened #344 "How to update Docker container?"
How do I update the docker container for a pre-existing container without losing my data? My installation is only a month or two old but I want to keep up-to-date.

[2022-11-25 00:01] #344 closed

[2022-11-25 08:44] tikok974 commented on #111
Hi mzch !
You are very nice !
That was good !
I added these parameters as shown in my screenshot below

![Capture d’écran_2022-11-25_09-38-15](https://user-images.githubusercontent.com/20242955/203938131-ff74ff8a-8147-46ea-8485-a09ba178e6be.png)
![Capture d’écran_2022-11-25_08-51-00](https://user-images.githubusercontent.com/20242955/203933193-b91783c8-105d-46f0-b781-e95b85c08f27.png)
![Capture d’

[2022-11-25 08:47] tikok974 commented on #342
Hi everybody,

Finally I received an answer [here](https://github.com/plankanban/planka/issues/111#issuecomment-1326608078)
Thanks for @mzch for his help

I added these parameters as shown in my screenshot below

![Capture d’écran_2022-11-25_09-38-15](https://user-images.githubusercontent.com/20242955/203938131-ff74ff8a-8147-46ea-8485-a09ba178e6be.png)
![Capture d’écran_2022-11-25_08-51-00](https:

[2022-11-25 08:47] #342 closed

[2022-11-25 08:54] tikok974 opened #345 "What is the best way to upgrade an existing Planka installation on Docker ?"
Hello everybody,

I am looking for the right way to update my Planka installation following the last update released a few days ago.
Could you please tell me the right way to do it?

Thank you

[2022-11-25 11:35] Zeekzag commented on #345
Hey,
I've been using [Watchtower](https://github.com/containrrr/watchtower) to keep my docker images (planka included) updated.
So far no problems

[2022-11-26 21:20] christophenne commented on #27
Hi @meltyshev,

I'm done with a first proof of concept that is basically a command line api client -> [trello2planka](https://github.com/christophenne/trello2planka). Labels are still missing (and attachments, but these will be a bit more difficult since they are not included in a json export but only available via Trello API) - other than that it fulfills my personal needs.
However I would like t

[2022-11-28 12:48] meltyshev commented on #27
Hi!

Nice job, it works great 👍

You're right about integration, it would be easier to use. In this case, I would prefer to upload the entire json file to the server and do the import there. So we just need to «convert» your code to use server helpers to create everything and add a button to load a file when creating a board on the front-end.

I should also add a link to trello2planka in the readm

[2022-11-29 07:31] christophenne commented on #27
Alright, thanks! Then I'll start to work on this in the upcoming days.

[2022-11-29 16:25] meltyshev commented on #343
Very strange. I updated libvips version in the base image, but how can it be related to this error...

[2022-11-29 17:06] benscobieintelliflo commented on #343
I'm running rootless Docker which might be the issue here. I'm not super great at *nix permissions but if I had to guess there might be some odd permission stuff going on in the updated vips tar? Though I would expect tar to just extract as the current user... uncharted terrority for me.

[2022-11-29 21:28] meltyshev commented on #343
The files in `/app/node_modules/buffer-equal-constant-time` seem to have large UID/GIDs. I'm thinking about the best way to fix it.

[2022-11-30 06:33] benscobie commented on #343
Latest version is working for me, thank you 😄

[2022-11-30 09:23] #343 closed

[2022-11-30 15:42] timshannon commented on #345
@tikok974  Not sure what issue you are specifically running into, but I know if you were running an older version there were issues with database migrations that you need to work around (https://github.com/plankanban/planka/issues/139), also I just noticed that I was unable to update the image I was using in my compose file, and I now see that the recommended image in the docker-compose example is